Django==1.5.1
MySQL-python==1.2.3
pytz==2013b
Pillow==1.7.8

South==0.7.6

# sky-thumbnails
git+ssh://git@github.com/concentricsky/django-skythumbnails.git@v0.2.2
cropresize==0.1.6

# Common Dependencies
Jinja2==2.6
git+ssh://git@github.com/concentricsky/jingo.git
git+ssh://git@github.com/concentricsky/django-cachemodel.git
git+ssh://git@github.com/concentricsky/django-basic-models.git
